body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

#baseTitle {
    text-align: center;
    color: #FFF;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none;
}

ul li:hover {
    background-color: #f9f9f9;
}

.api-link {
    text-align: center;
    margin-top: 20px;
}

.api-link a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 16px;
}

.api-link a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    text-align: center;
    margin-top: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    text-align: center;
}

nav {
    margin: 5px 0;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f9;
    color: #333;
    border-top: 1px solid #ddd;
}
